In [1]:
import numpy as np 
import pandas as pd

In [3]:
brics = pd.read_csv("brics.csv")
brics

  Unnamed: 0       country  population      area    capital
0         BR        Brazil         200   8515767   Brasilia
1         RU        Russia         144  17098242     Moscow
2         IN         India        1252   3287590  New Delhi
3         CH         China        1357   9596961    Beijing
4         SA  South Africa          55   1221037   Pretoria

In [4]:
brics = pd.read_csv("brics.csv", index_col = 0)

In [5]:
brics

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria

In [6]:
brics.describe()

        population          area
count     5.000000  5.000000e+00
mean    601.600000  7.943919e+06
std     644.806405  6.199591e+06
min      55.000000  1.221037e+06
25%     144.000000  3.287590e+06
50%     200.000000  8.515767e+06
75%    1252.000000  9.596961e+06
max    1357.000000  1.709824e+07

In [7]:
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [8]:
brics.country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [9]:
for i in range(len(brics["country"])):
    brics["on_earth"]= "True"
brics

         country  population      area    capital on_earth
BR        Brazil         200   8515767   Brasilia     True
RU        Russia         144  17098242     Moscow     True
IN         India        1252   3287590  New Delhi     True
CH         China        1357   9596961    Beijing     True
SA  South Africa          55   1221037   Pretoria     True

In [10]:
brics["density"] = brics["population"]/brics["area"]*1000000
brics

         country  population      area    capital on_earth     density
BR        Brazil         200   8515767   Brasilia     True   23.485847
RU        Russia         144  17098242     Moscow     True    8.421918
IN         India        1252   3287590  New Delhi     True  380.826076
CH         China        1357   9596961    Beijing     True  141.398928
SA  South Africa          55   1221037   Pretoria     True   45.043680

In [11]:
brics.loc["BR"]

country         Brazil
population         200
area           8515767
capital       Brasilia
on_earth          True
density        23.4858
Name: BR, dtype: object

In [12]:
brics.iloc[1:3,2:4]

        area    capital
RU  17098242     Moscow
IN   3287590  New Delhi

In [13]:
brics["capital"].loc["CH"]

'Beijing'

In [14]:
brics.loc["CH"]["capital"]

'Beijing'

In [ ]:
s = pd.Series([""])