In [1]:
import pandas as pd

In [4]:
animals=['tiger','bear','goat',None]
pd.Series(animals)

0    tiger
1     bear
2     goat
3     None
dtype: object

In [3]:
numbers=[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
sports={'cricket':'India','football':'spain'}
p=pd.Series(sports)
print(p)

cricket     India
football    spain
dtype: object

In [23]:
p.index

Index([0, 'football'], dtype='object')

In [10]:
p.values

array(['India', 'spain'], dtype=object)

In [7]:
s=pd.Series([ 'tiger','bear'],index=['India','canada'])
s

India     tiger
canada     bear
dtype: object

In [9]:
q=pd.Series(sports,index=['football','hockey'])
q

football    spain
hockey        NaN
dtype: object

In [12]:
p.iloc[1]

'spain'

In [14]:
p.loc['cricket']

'India'

In [15]:
p[1]

'spain'

In [16]:
p['cricket']

'India'

In [10]:
import numpy as np
s=pd.Series(np.random.randint(1,1000,100))
s.head()

0    685
1    302
2    786
3    974
4    792
dtype: int32

In [11]:
s.head(10)

0    685
1    302
2    786
3    974
4    792
5    576
6    879
7    312
8     15
9    379
dtype: int32

In [6]:
np.nan==None

False